<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Imgup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Imgup.My.MySettings>
            <setting name="threads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="autoup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ontop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shotcount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="screenpath" serializeAs="String">
                <value/>
            </setting>
            <setting name="medium" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="large" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="small" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="smallcheked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="medcheked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="largecheked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openfolder" serializeAs="String">
                <value>True</value>
            </setting>
        </Imgup.My.MySettings>
    </userSettings>
</configuration>
